{% extends "base.html" %}

{% block content %}
<h1>{{ author.first_name }} {{ author.last_name }}</h1>

<p><strong>Date of birth:</strong> {{ author.date_of_birth|default:"" }}</p>
<p><strong>Date of death:</strong> {{ author.date_of_death|default:"" }}</p>

<h4>Books by this author</h4>
{% if author.book_set.all %}
<ul>
  {% for book in author.book_set.all %}
    <li>
      <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
    </li>
  {% endfor %}
</ul>
{% else %}
<p>No books are currently associated with this author.</p>
{% endif %}

{% endblock %}