{% extends "catalog/base.html" %}

{% block content %}
  <h1>Name: {{ author.first_name }} {{ author.last_name }}</h1>

  <p><strong>Date of Birth:</strong> {{ author.date_of_birth|default_if_none:"" }}</p>
  <p><strong>Date of Death:</strong> {{ author.date_of_death|default_if_none:"" }}</p>

  {% if author.author_image %}
    <p>
      <img
        alt="Author image"
        src="{{ author.author_image.url }}"
        style="max-width: 200px; height: auto;"
      />
    </p>
  {% endif %}

  <h4>Books by this author</h4>
  {% if author.book_set.all %}
    <ul>
      {% for book in author.book_set.all %}
        <li><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No Books Available</p>
  {% endif %}

  <p>
    <a class="btn btn-secondary" href="{% url 'catalog:author_list' %}">Back to Authors</a>
  </p>
{% endblock %}
